
.Main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.toggle-btn {
    background-color: lightskyblue;
    border: 1px solid white;
    border-radius: 99px;
    width: 160px;
    height: 70px;
    transition: background-color 0.1 ease, border-color 0.1 ease;
    position: relative;
}

.toggle-btn .thumb {
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    border-radius: 99px;
    transform: translateX(0);
    transition: left 0.5s ease;
    position: absolute;
    left:3px;
    top:50%;
    transform: translateY(-50%);
}

.toggle-btn.toggled {
    background-color: rgb(18, 27, 27);
}

.toggle-btn:hover{
    border-color: gray;
}

.toggle-btn.toggled .thumb {
    left: calc(100% - 55px); 
}