table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    padding-top: 100px;
}

tr.header {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

td {
    padding: 16px 20px;
}


tr:hover:not(.header) {
    background-color: #f1f1f1;
    color: #009879;
}
